html {
  /* px means "pixels". The base font size is now 10 pixels high */
  font-size: 20px;
  /* Replace PLACEHOLDER with the font-family property value you got from Google Fonts */
  font-family: "DotGothic16", sans-serif;
  color: #433c53;
  
}

body {
  width: 600px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
}