html {
  /* px means "pixels". The base font size is now 10 pixels high */
  font-size: 20px;
  /* Replace PLACEHOLDER with the font-family property value you got from Google Fonts */
  font-family: "M PLUS 1 Code", monospace;
  color: #1a1427;
  background-color: #c6b1f0;
  
  
}

body {
  max-width: 910px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
}

h1 {
  margin-top: 2px;
}

a, a:visited {
  color: inherit;
}

strong {
    color:#cf5151
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul li {
  float: left;
}

ul li a {
  padding: 14px 16px;
  padding-left: 0px;
  text-decoration: none;
}

ul li a.active {
  text-decoration: underline;
}

h4, h3{
  padding: 0; /* Removes inner spacing */
  margin: 0;  /* Removes outer spacing */
}

.lang-switch {
  float: right;
}
