html {
  /* px means "pixels". The base font size is now 10 pixels high */
  font-size: 20px;
  /* Replace PLACEHOLDER with the font-family property value you got from Google Fonts */
  font-family: "DotGothic16", sans-serif;
  color: #1a1427;
  background-color: #c6b1f0;
  
  
}

body {
  width: 600px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
}

a, a:visited {
  color: inherit;
}

strong {
    color:#cf5151
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul li {
  float: left;
}

ul li a {
  padding: 14px 16px;
  text-decoration: none;
}

h4, h3{
  padding: 0; /* Removes inner spacing */
  margin: 0;  /* Removes outer spacing */
}
